.MZ-700 {
    padding:0px;
    overflow:hidden;
    width:100%;
    height:100%;
}
.MZ-700 .screen {
    border: solid 1px black;
    background-color: black;
    padding:0;
}
.MZ-700 button {
    background-color: blue;
    color: white;
    border: solid 2px blue;
    padding: 5px;
    margin: 5px 2px;
    font-size: 11pt;
    font-weight:bold;
}
.MZ-700 #btnStart {
    width:50px;
}
.MZ-700.running #btnStart {
    color: blue;
    background-color: white;
}
.MZ-700 button:hover {
    background-color: white;
    color: blue;
}
.MZ-700 button:disabled {
    border-color: gray;
    background-color: gray;
    color: silver;
}

.MZ-700 .ctrl-panel {
    background-color: white;
    min-width:690px;
}
.MZ-700 .ctrl-panel input[type='range'] {
    width:100px;
}
.MZ-700 .ctrl-panel > span.key-switcher {
    padding:5px;
    border-style:solid;
    border-color:blue;
    border-width:3px;
    background-color: blue;
    color: white;
    font-family: Arial;
    font-weight: bold;
}
.MZ-700 .ctrl-panel > span.key-switcher:hover {
    background-color: white;
    color: blue;
}
.MZ-700 .ctrl-panel > span.key-switcher.on,
.MZ-700 .ctrl-panel > span.key-switcher.on:hover {
    background-color: white;
    color: blue;
}

.MZ-700 .data-recorder .cmt-message {
    font-weight: bold;
}
/**
 * アセンブルリスト
 */

/* Row */
.assemble_list .row > span {
    display:inline-block;
}
.assemble_list .row .colRowAttr     { width:20px; text-align:center; }
.assemble_list .row .colLineNumber  { width:40px; padding-right:6px; text-align:right; }
.assemble_list .row .colAddress     { width:40px; }
.assemble_list .row .colMachineCode { width:80px; }
.assemble_list .row .colLabel       { width:70px; color:blue; font-weight:bold; }
.assemble_list .row .colMnemonic    { width:50px; }
.assemble_list .row .colOperand     { width:100px; }
.assemble_list .row .colComment     { color:#008800; white-space:pre; }

.assemble_list .row.current {
    color:black;
    background-color: yellow;
}
.assemble_list .row.breakPoint          { background-color: silver; }
.assemble_list .row.breakPoint .colRowAttr { color:red; }
.assemble_list .row.breakPoint .colRowAttr::before { content:"●"; }
.assemble_list .row.current.breakPoint  { background-color: yellow; }
.assemble_list .row.current .colRowAttr { color:red; }
.assemble_list .row.current .colRowAttr::after { content:"⇒"; }

#updateReg {
    width:80px;
    height:30px;
}

.y-scroll-pane {
    overflow-y: scroll;
}

.assemble_list {
    overflow-x: auto;
    width:635px;
}

.tabAsmList {
    padding:10px;
    font-family:monospace;
    font-size:10pt;
    height:480px;
}
.source-list .y-scroll-pane {
    height: 440px;
}
.source-list textarea {
    height:450px;
    box-sizing: border-box;
    width:calc(100% - 5px);
    margin:2px;
    padding:2px;
    border:none;
    resize:vertical;
}

.imm-exec {
}
.imm-exec input.address {
    width:60px;
}
.imm-exec input.mnemonic {
    width:200px;
}

.data-recorder {
    background:#333;
    color:#ccc;
    font-weight:bold;
    font-family: Arial;
    min-width:690px;
}
.MZ-700 .data-recorder button {
    border-color:#444;
    background-color:#555;
    color:silver;
}
.MZ-700 .data-recorder button:hover {
    color:white;
    background-color:#000000;
}
.MZ-700 .data-recorder button:disabled {
    color:gray;
    background-color:#666666;
}
.MZ-700 .data-recorder .cmt-message {
    display: inline-block;
    min-width:100px;
    background-color:#eee;
    color:#222;
    padding:5px;
    border-radius:3px;
    text-align: center;
}
.MZ-700 .data-recorder .cmt-message a {
    display: inline-block;
    border-radius:5px;
    background-color: blue;
    color:white;
    margin-left:10px;
    padding:2px;
    font-size:9pt;
    text-decoration:none;
    cursor: pointer;
}
.MZ-700 .data-recorder .cmt-message a.download-link:before {
    content:"▼MZT";
}
.MZ-700 .speed-control-slider {
    display: inline-block;
    height:24px;
    line-height:24px;
    padding: 0 1em;
    background-color:white;
    color:blue;
    font-family: Arial;
    font-weight: bold;
}
.MZ-700 .register-monitor {
    width: 675px;
}
.MZ-700 .memory {
    width: 550px;
}
